{{ define "partials/nav.gohtml" }}

    <div id="navbar" class="col-sm-3 col-md-2 sidebar">

        <ul class="nav nav-sidebar">
            <li><a href="/path-traversal">Path Traversal</a></li>
            <li><a href="/ssrf">SSRF</a></li>
            <li><a href="/cmdi">CMD Injection</a></li>
            <li><a href="/sqli">SQL Injecttion</a></li>
        </ul>

    </div>

{{ end }}